<!-- <%= render "spree/shared/error_messages", :target => @wholesaler %> -->
<fieldset class="wholesaler-details">
  <div class="row">
    <%= f.hidden_field :user_id %>
    <div class="col-12 col-md-6">
      <div class="form-group">
        <%= f.label :company %><span class="req">*</span>
        <%= f.text_field :company, :class => 'form-control required' %>
      </div>
      <div class="form-group">
        <%= f.label :buyer_contact %><span class="req">*</span>
        <%= f.text_field :buyer_contact, :class => 'form-control required' %>
      </div>
      <div class="form-group">
        <%= f.label :manager_contact %>
        <%= f.text_field :manager_contact, :class => 'form-control required' %>
      </div>
      <div class="form-group">
        <%= f.label :phone %><span class="req">*</span>
        <%= f.text_field :phone, :class => 'form-control required' %>
      </div>
      <div class="form-group">
        <%= f.label :alternate_email %>
        <%= f.text_field :alternate_email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :web_address %>
        <%= f.text_field :web_address, class: 'form-control' %>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-group">
        <%= f.label :display_name %>
        <%= f.text_field :display_name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :bio %>
        <%= f.text_area :bio, class: 'form-control', rows: '8' %>
      </div> 
      <div class="form-group">
        <%= f.label :notes %>
        <%= f.text_area :notes, class: 'form-control', rows: '4' %>
      </div> 
    </div>
  </div> 
</fieldset>